*.orig
*.dcu
*.ddp
*.orig.*
*.chg.*
*.rej
*.conflict~
/build/
/reports/
/installer.cfg
/releases/
/locales/
/javadoc/
/coverage/
/dist/
/testdata/decompile/
/testdata/recompile/
/build_exe.xml
/build_exe64.xml
/coverage.ec
/libsrc/jsyntaxpane/jsyntaxpane/src/target/
hs_err_pid*.log
*.~*
/revision.txt
/lib/ffdec_lib.jar
/libsrc/gnujpdf/dist/
/libsrc/jsyntaxpane/jsyntaxpane/target/
/libsrc/ffdec_lib/build/
/libsrc/ffdec_lib/nbproject/private/
/libsrc/ffdec_lib/javadoc/
/libsrc/ffdec_lib/coverage/
/libsrc/ffdec_lib/reports/
/libsrc/ffdec_lib/dist/
/libsrc/ffdec_lib/testdata/decompile/
/libsrc/ffdec_lib/testdata/recompile/
/libsrc/ffdec_lib/revision.txt
/libsrc/jpproxy/nbproject/private/
/libsrc/jpproxy/dist/
/libsrc/jpproxy/build/