*.orig
*.dcu
*.ddp
*.orig.*
*.chg.*
*.rej
*.conflict~
/build/
/reports/
/installer.cfg
/releases/
/locales/
/javadoc/
/coverage/
/dist/
/testdata/decompile/
/testdata/recompile/
/build_exe.xml
/build_exe64.xml
/coverage.ec
/libsrc/jsyntaxpane/jsyntaxpane/src/target/
hs_err_pid*.log
*.~*