*.orig
*.dcu
*.ddp
*.orig.*
*.chg.*
*.rej
*.conflict~
*.identcache
*.recompiled.swf
run_test_*.swf
Thumbs.db
/build/
/reports/
/installer.cfg
/releases/
/locales/
/javadoc/
/coverage/
/dist/
/mac/
/testdata/decompile/
/testdata/recompile/
/build_exe.xml
/build_exe64.xml
/coverage.ec
/libsrc/jsyntaxpane/jsyntaxpane/src/target/
hs_err_pid*.log
*.~*
/revision.txt
/lib/ffdec_lib.jar
/lib/README.TXT
/libsrc/avi/nbproject/private/
/libsrc/gnujpdf/dist/
/libsrc/jsyntaxpane/jsyntaxpane/target/
/libsrc/ffdec_lib/build/
/libsrc/ffdec_lib/nbproject/private/
/libsrc/ffdec_lib/javadoc/
/libsrc/ffdec_lib/coverage/
/libsrc/ffdec_lib/reports/
/libsrc/ffdec_lib/dist/
/libsrc/ffdec_lib/testdata/decompile/
/libsrc/ffdec_lib/testdata/recompile/
/libsrc/ffdec_lib/testdata/directediting/
/libsrc/ffdec_lib/coverage.ec
/libsrc/ffdec_lib/revision.txt
/libsrc/ffdec_lib/releases/
/libsrc/gif/nbproject/private/
/libsrc/gif/build/
/libsrc/jpproxy/nbproject/private/
/libsrc/jpproxy/dist/
/libsrc/jpproxy/build/
/libsrc/LZMA/nbproject/private/
/libsrc/ttf/nbproject/private/
/libsrc/ttf/build/
/libsrc/tablelayout/nbproject/private/
/libsrc/tablelayout/build/
/libsrc/tablelayout/dist/
/libsrc/uploader/nbproject/private/
/libsrc/uploader/build/
/libsrc/uploader/dist/
/jpexs_website.properties
/version.properties
/libsrc/ffdec_lib/version.properties
/tools.properties
/nbproject/private/
/libsrc/cmykjpeg/build/
/libsrc/cmykjpeg/nbproject/private/
/libsrc/Plugins/nbproject/private/
/libsrc/Plugins/build/
/libsrc/Plugins/dist/
/libsrc/treetable/nbproject/private/
/libsrc/treetable/build/
/libsrc/treetable/dist/
/libsrc/plugins/nbproject/private/
/libsrc/plugins/dist/
/libsrc/plugins/build/