// English (en-US)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    1001 "Open in FFDec"
END

// Catalan (ca-ES)
LANGUAGE 0x03, 0x01 // LANG_CATALAN
STRINGTABLE
BEGIN
    1001 "Obre amb FFDec"
END

// Czech (cs-CZ)
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "Otevřít v FFDec"
END

// Chinese (zh-CN)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    1001 "在 FFDec 中打开"
END

// Dutch (nl-NL)
LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
STRINGTABLE
BEGIN
    1001 "Openen in FFDec"
END

// French (fr-FR)
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
STRINGTABLE
BEGIN
    1001 "Ouvrir avec FFDec"
END

// German (de-DE)
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STRINGTABLE
BEGIN
    1001 "In FFDec öffnen"
END

// Hungarian (hu-HU)
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "Megnyitás FFDec-kel"
END

// Italian (it-IT)
LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
STRINGTABLE
BEGIN
    1001 "Apri con FFDec"
END

// Japanese (ja-JP)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "FFDec で開く"
END

// Polish (pl-PL)
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "Otwórz w FFDec"
END

// Portuguese - Portugal (pt-PT)
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE
STRINGTABLE
BEGIN
    1001 "Abrir com o FFDec"
END

// Portuguese - Brazil (pt-BR)
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
STRINGTABLE
BEGIN
    1001 "Abrir no FFDec"
END

// Russian (ru-RU)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "Открыть в FFDec"
END

// Spanish (es-ES)
LANGUAGE LANG_SPANISH, SUBLANG_SPANISH
STRINGTABLE
BEGIN
    1001 "Abrir con FFDec"
END

// Swedish (sv-SE)
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "Öppna med FFDec"
END

// Turkish (tr-TR)
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    1001 "FFDec ile aç"
END

// Ukrainian (uk-UA)
LANGUAGE 0x22, 0x01 // LANG_UKRAINIAN
STRINGTABLE
BEGIN
    1001 "Відкрити у FFDec"
END