name: build

on:
  push:
    tags:
        - version*
    branches: 
        - dev
        - master        
  pull_request:
    branches:
        - dev
        - master  

env:
    CICD_REPO_SLUG: jindrapetrik/jpexs-decompiler
    CICD_REFTYPE: ${{ github.ref_type }}
    CICD_REFNAME: ${{ github.ref_name }}
    CICD_COMMIT: ${{ github.sha }}
    CICD_NAME: GitHub Actions
    CICD_EMAIL: GitHub
    CICD_EVENTNAME: ${{ github.event_name }}
    NIGHTLY_BRANCH: dev
    GITHUB_USER: jindrapetrik
    GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest
    container: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up JDKs
      uses: actions/setup-java@v4
      with:
        distribution: adopt
        architecture: x64
        java-version: |
          8
          21
    - name: Set up PHP
      run: |
        apt update -y -qq
        apt install -y -qq php
    - name: Set up NSis
      run: |
        #apt install -y -qq wget
        #we need the specific version - 3.0.8 as this version seems to not be flagged by AVs
        #wget http://archive.ubuntu.com/ubuntu/pool/universe/n/nsis/nsis-common_3.08-2_all.deb
        #wget http://archive.ubuntu.com/ubuntu/pool/universe/n/nsis/nsis_3.08-2_amd64.deb
        #dpkg -i nsis-common_3.08-2_all.deb
        #dpkg -i nsis_3.08-2_amd64.deb        
        apt-get -y update
        apt-get -y install nsis
        makensis -VERSION       
    - name: Install Wine
      run: |
        dpkg --add-architecture i386
        apt-get update
        apt install -y -qq --no-install-recommends wine64
        
#    - name: Init Wine prefix
#      env:
#        WINEPREFIX: ${{ github.workspace }}/.wine
#        WINEDEBUG: "-all"
#      run: |
#        mkdir -p "$WINEPREFIX"
#        wineboot -u
        
    - name: Install Resource Hacker
      env:
        RH_DIR: ${{ github.workspace }}/tools/resourcehacker
        RH_ZIP: ${{ github.workspace }}/tools/resourcehacker.zip
        RH_URL: https://www.angusj.com/resourcehacker/resource_hacker.zip
      run: |
        set -euxo pipefail
        mkdir -p "$(dirname "$RH_ZIP")"
        mkdir -p "$RH_DIR"

        wget -O "$RH_ZIP" "$RH_URL"
        unzip -o "$RH_ZIP" -d "$RH_DIR"

        # find exe (sometimes it's in subfolder)
        find "$RH_DIR" -maxdepth 3 -type f -iname "ResourceHacker.exe" -print            
    - name: Set up ant
      run: |
        apt install -y -qq ant 
    - name: Build
      run: |        
        export CICD_TEMP=${{ github.workspace }}        
        chmod a+x ./cicd_scripts/*.sh
        ./cicd_scripts/before_install.sh
        ./cicd_scripts/script.sh
